@import "../base/variables";
@import "../base/mixins";

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../../public/images/bg.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;

  .main-content {
    flex: 1;
    padding: $spacing-unit 0;

  }
}