// Colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;
$white: #ffffff;
$black: #000000;

// Background
$background-color: #f8f9fa;
$text-color: #000000;

// Typography
$font-family-base: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;

//breakpoints

$breakpoint-sm: 425px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

// Spacing
$spacing-unit: 1rem;
$container-padding: 1rem;